.conteudo-da-pagina{
    margin: 30px 20px 30px 20px;
}
.titulo-1{
    background-color: #663399;
    margin: 0%;
}
.titulo-2{
    color: white;
    font-size: 42px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 39%;
}
.sub-titulo{
    margin-left: 39%;
    font-family:Arial, Helvetica, sans-serif;
    color: 	#191970;
}
body{
background-color: #D8BFD8;
}
.bloco-central{
    margin:70px 170px 70px 170px;
    background-color: 	#FFF0F5;
    height: 600px;
}
.formularios{
    margin-left: 30px;
    margin-top: 70px;
}
.inn{
    background-color: #D8BFD8;
    margin-left: 70px;
}
.primeira{
    margin-bottom: 10px;
    margin-left: 38%;
}
.texto{
    margin-top: 50px;
    margin-left: 38%;
}
.da{
    margin-left: 10px;
}
.fo{
    margin-left: 3px;
}
.ma{
    margin-left: 1px;
}
.so{
    margin-top: 50px;
    margin-left: 40%;
}
.chec{
    margin-left: 35%;
}