html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.cabeçalho{
    background-color:#663399;
    border: 1px solid #191970 ;
    box-shadow: 0 4px 4px #191970;
}

.cabeçalho-logo{
    display:inline-block;
    margin-left: 20px;
}
.cabeçalho-logo h1{}

.cabeçalho-menu{
    display: inline-block;
}
.cabeçalho-menu ul{
}
.cabeçalho-menu li{
    display:inline-block;
    margin: 0 25px
}
.cabeçalho-menu a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 400;
}

h1{
    font-weight: 600;
    font-size: xx-large;
    color: #FFF0F5;
    display: inline-block;
}
.cabeçalho img{
    width: 25px;
    height: 25px;
    display: inline-block;
    padding-top: 6px;
}
div.container{
    width: 100%;
    max-width: 1300px;
    margin:0 auto;
    margin-left: 20%;


}
h3{
   font-weight: 1000;
}



.conteudo-da-pagina{
    margin: 30px 20px 30px 20px;
}
.sub-titulo{
    margin-left: 39%;
    font-family:Arial, Helvetica, sans-serif;
    color: 	#191970;
}
body{
background-color: #D8BFD8;
}
.bloco-central{
    margin:70px 170px 70px 170px;
    background-color: 	#FFF0F5;
    height: 600px;
}
.formularios{
    margin-left: 30px;
    margin-top: 70px;
}
strong{
    font-weight: 600;
}
.inn{
    background-color: #D8BFD8;
    margin-left: 70px;
}
.primeira{
    margin-bottom: 10px;
    margin-left: 38%;
}
.texto{
    margin-top: 50px;
    margin-left: 38%;
}
.da{
    margin-left: 10px;
}
.fo{
    margin-left: 3px;
}
.ma{
    margin-left: 1px;
}
.so{
    margin-top: 50px;
    margin-left: 40%;
}
.chec{
    margin-left: 35%;
}
